src/flow.json
[{"id":"fab3452d3b46aa5e","type":"tab","label":"Modbus TCP","disabled":false,"info":"","env":[]},{"id":"87870a68ecfa3b25","type":"mqtt in","z":"fab3452d3b46aa5e","name":"","topic":"ie/m/j/simatic/v1/mbtcp1/dp","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":270,"y":120,"wires":[["8f91a2ae9ccfcdda"]]},{"id":"568c05e569138a87","type":"comment","z":"fab3452d3b46aa5e","name":"Read metadata","info":"","x":200,"y":80,"wires":[]},{"id":"c19a37b264b49612","type":"mqtt in","z":"fab3452d3b46aa5e","name":"","topic":"ie/d/j/simatic/v1/mbtcp1/dp/r/#","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":280,"y":320,"wires":[["bf1cfd172199a940"]]},{"id":"bf1cfd172199a940","type":"debug","z":"fab3452d3b46aa5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":320,"wires":[]},{"id":"3857c416bde17185","type":"comment","z":"fab3452d3b46aa5e","name":"Read data","info":"","x":180,"y":280,"wires":[]},{"id":"fdfdbbf93e6dce68","type":"comment","z":"fab3452d3b46aa5e","name":"Write data","info":"","x":180,"y":400,"wires":[]},{"id":"0cfa0abc5e227ac1","type":"mqtt out","z":"fab3452d3b46aa5e","name":"","topic":"ie/d/j/simatic/v1/mbtcp1/dp/w/ModbusServer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6bd4974.1100768","x":590,"y":540,"wires":[]},{"id":"0479d78b447f663d","type":"inject","z":"fab3452d3b46aa5e","name":"set val_int (value 1)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"1\",\"val\":\"-32768\"}]}","payloadType":"json","x":250,"y":460,"wires":[["0cfa0abc5e227ac1"]]},{"id":"fdc547b501a91e3c","type":"inject","z":"fab3452d3b46aa5e","name":"set val_int (value 2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"1\",\"val\":\"32767\"}]}","payloadType":"json","x":250,"y":520,"wires":[["0cfa0abc5e227ac1"]]},{"id":"8f91a2ae9ccfcdda","type":"debug","z":"fab3452d3b46aa5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"bb8eb714f05db5da","type":"inject","z":"fab3452d3b46aa5e","name":"set val_dint (value 1)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"3\",\"val\":\"-2147483648\"}]}","payloadType":"json","x":250,"y":580,"wires":[["0cfa0abc5e227ac1"]]},{"id":"07c4a53b45d4fd0a","type":"inject","z":"fab3452d3b46aa5e","name":"set val_int (value 2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"3\",\"val\":\"2147483647\"}]}","payloadType":"json","x":250,"y":640,"wires":[["0cfa0abc5e227ac1"]]},{"id":"0b386df824795142","type":"mqtt in","z":"fab3452d3b46aa5e","name":"","topic":"ie/s/j/simatic/v1/mbtcp1/status","qos":"2","datatype":"json","broker":"6c89349dbede2b80","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":220,"wires":[["dc33e004ee110e71"]]},{"id":"18b320c129cc68e7","type":"comment","z":"fab3452d3b46aa5e","name":"Status topic","info":"","x":190,"y":180,"wires":[]},{"id":"dc33e004ee110e71","type":"debug","z":"fab3452d3b46aa5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":220,"wires":[]},{"id":"6bd4974.1100768","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6c89349dbede2b80","type":"mqtt-broker","name":"","broker":"ie-databus:1883","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]