src/flows.json
[{"id":"26f6ebe03be53dca","type":"tab","label":"Modbus TCP","disabled":false,"info":"","env":[]},{"id":"6c0b68d75ae0268f","type":"mqtt in","z":"26f6ebe03be53dca","name":"","topic":"ie/m/j/simatic/v1/mbtcp1/dp","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":270,"y":120,"wires":[["411ea7963221021f"]]},{"id":"a5e335622f76e19f","type":"comment","z":"26f6ebe03be53dca","name":"Read metadata","info":"","x":200,"y":80,"wires":[]},{"id":"de408cb599de437b","type":"mqtt in","z":"26f6ebe03be53dca","name":"","topic":"ie/d/j/simatic/v1/mbtcp1/dp/r/#","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":280,"y":240,"wires":[["c8070963a72c443c"]]},{"id":"c8070963a72c443c","type":"debug","z":"26f6ebe03be53dca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"156d5e9071851588","type":"comment","z":"26f6ebe03be53dca","name":"Read data","info":"","x":180,"y":200,"wires":[]},{"id":"4377b6f53964eb27","type":"comment","z":"26f6ebe03be53dca","name":"Write data","info":"","x":180,"y":320,"wires":[]},{"id":"6aca803008ad01d3","type":"mqtt out","z":"26f6ebe03be53dca","name":"","topic":"ie/d/j/simatic/v1/mbtcp1/dp/w/Modbus Server","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6bd4974.1100768","x":590,"y":460,"wires":[]},{"id":"b4b5f43681d3a0ab","type":"inject","z":"26f6ebe03be53dca","name":"set val_int (value 1)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"1\",\"val\":\"-32768\"}]}","payloadType":"json","x":250,"y":380,"wires":[["6aca803008ad01d3"]]},{"id":"0969b28b530d2463","type":"inject","z":"26f6ebe03be53dca","name":"set val_int (value 2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"1\",\"val\":\"32767\"}]}","payloadType":"json","x":250,"y":440,"wires":[["6aca803008ad01d3"]]},{"id":"411ea7963221021f","type":"debug","z":"26f6ebe03be53dca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"f575a9fc9cc8092b","type":"inject","z":"26f6ebe03be53dca","name":"set val_dint (value 1)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"3\",\"val\":\"-2147483648\"}]}","payloadType":"json","x":250,"y":500,"wires":[["6aca803008ad01d3"]]},{"id":"e671f8691ca53368","type":"inject","z":"26f6ebe03be53dca","name":"set val_int (value 2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"3\",\"val\":\"2147483647\"}]}","payloadType":"json","x":250,"y":560,"wires":[["6aca803008ad01d3"]]},{"id":"6bd4974.1100768","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]